<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand ml-4" href="#">MKH FIRST APPLICATION</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/listings"  style="cursor: pointer;">All Listing</a>
      </li>
      <li class="nav-item" *ngIf="userService.loggedIn()">
        <a class="nav-link" routerLink="listings/add-listing"  style="cursor: pointer;">Add-Listing</a>
      </li>
      <li class="nav-item" *ngIf="!userService.loggedIn()">
        <a class="nav-link" routerLink = "user/login"  style="cursor: pointer;">Login</a>
      </li>
      <li class="nav-item" *ngIf="!userService.loggedIn()">
        <a class="nav-link" routerLink = "user/register"  style="cursor: pointer;">Register</a>
      </li>
      <li class="nav-item" *ngIf="userService.loggedIn()">
        <a class="nav-link" (click)="userService.logOut()" style="cursor: pointer;">Logout</a>
      </li>
    </ul>
  </div>
</nav>
