<div class="container my-4">
  <h1 class="page-header" style="font-weight: 500;">Register</h1><hr>
  <form class="form" [formGroup]="registerForm" (ngSubmit)="userRegister()">

    <div class="form-group">
      <div [ngClass]="messageClass" *ngIf="error">
        {{message}}
      </div>
    </div>

    <div class="form-group">
      <label for="name">Username</label>
      <input type="name" class="form-control" id="name" placeholder="*Username" formControlName = "name" required/>
      <div *ngIf="Username?.invalid && Username?.errors?.['maxlength']">
        <span class ="small text-warning">*Username should less than 25 character!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
      type="email" class="form-control" id="email" placeholder="*Email" formControlName = "email" required/>
      <div *ngIf="Email?.invalid && Email?.errors?.['email']">
        <span class ="small text-warning">*Invalid Email</span>
      </div>
    </div>


    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="*Password" formControlName = "password"  required/>
      <div *ngIf="Password?.invalid && Password?.errors?.['minlength']">
        <span class ="small text-warning">*Password must at least 6 characters!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPassword" placeholder="*Confirm Password" formControlName = "confirmPassword"  required/>
      <div *ngIf="ConfirmPassword?.invalid && ConfirmPassword?.errors?.['passwordMatch']">
        <span class ="small text-warning">*Password does not match</span>
      </div>
    </div>

    <button type="submit" class="btn btn-primary float-right" [disabled]="!registerForm.valid">Register</button>
  </form>
</div>
