<div class="container py-3">
  <div class="row" *ngIf="listings$ | async as listings">
    <div class="col-md-4 mb-4" *ngFor="let listing of listings">
      <div class="card">
      <div class="card-header text-center">
        <h3>{{listing.title}}</h3>
      </div>
      <div class="card-body">
        <h4 class="card-title text-center">Price : {{listing.price}} | Locality : {{listing.locality}}</h4>
        <a [routerLink]="listing._id" class="btn btn-block rounded-pill mt-4" style="background : rgb(193, 71, 27); color: wheat;">View Details</a>
      </div>
    </div>
    </div>
  </div>
</div>

